.events-view-container {
    flex-grow: 1;
    width: 100vw;
    padding: 5%;
}

.events-view-header-row {
    display: flex;
    flex-direction: row;
}

.events-view-header-row h3 {
    flex-grow: 1;
    text-align: left;
}

.events-view-header-row button {
    margin: auto 15px;
    padding: auto;
    display: flex;
}

.events-view-header-row button ion-icon {
    font-size: x-large;
}