.login-form {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 5px;
    background-color: #1d1d1d;
    width: min-content;
}

.login-form > *{
    margin-bottom:15px;
}
.login-form > *:last-child{
    margin-bottom:initial;
}

.validation-error{
    color:red;
}