.new-event-container {
    padding: 1%;
}

.display-flex-responsive {
    display: flex;
    flex-direction: row;
}

.centered-vertically {
    justify-content: space-evenly;
}

.form-column {
    padding: 2%;
}

.new-event-container form>div {
    text-align: left;
}

.new-event-container form>* {
    width: 100%;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
}

.display-flex-column {
    display: flex;
    flex-direction: column;
}

.field {
    margin-bottom: 15px;
}

.field:last-child {
    margin-bottom: 0px;
}

.field>label,
.field>input,
.field>textarea {
    width: -webkit-fill-available;
}

.form-column>.field {
    max-width: 325px;
}

.create-event-btn {
    background-color: blue;
}

@media only screen and (max-width: 991px) {
    .new-event-container {
        padding: 3%;
    }

    .form-column {
        margin: 0 auto;
        width: 80%;
        max-width: 400px;
    }

    .form-column>.field {
        max-width: unset;
    }

    .display-flex-responsive {
        display: flex;
        flex-direction: column;
    }
}