#map {
    height: 100%;
}


#description {
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    width: 100%;
    border: 0;
    border-radius: 2px;
    font: 400 18px Roboto, Arial, sans-serif;
    font-family: Roboto;
    padding: 0;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    width: 100%;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    text-overflow: ellipsis;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}