.overlay-btn {
    /* background-color: rgb(49, 49, 49); */
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* OffsetX | OffsetY | Radial Blur | Radius  */
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
}

/* 
.overlay-btn:hover {
    border: none;
}

.overlay-btn:focus-visible {
    border: none;
} */